body{
    background-image: url('fond_site.jpg'); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    background-image: url('fond_ban.jpg');
    color: #0077b5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 150px;
}
header h1{
    text-transform: capitalize;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}
header h2{
    display: none;
    font-size: 1.1em;
    margin-right: 20px;
    align-self: flex-end;
    height: 25px;
    width: auto;
}
#page{
    display: flex;
}
#coordonnees{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    margin-left: 25px;
    color: rgb(44, 43, 43);
}
#name{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0px;
    width: 175px;
    height: 30px;
}
#adress{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
}
#coordonnees a{
    color: rgb(44, 43, 43);
}
#tel{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
}
#email{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 200px;
    height: 30;
}
#site{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
#lkn{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
}
#git{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
#titre{
    color: #0077b5;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
#experience{
    display: flex;
    flex-direction: column;
}
.date{
    font-size: 1em;
}
.entreprise{
    font-size: 1.05em;
}
.poste{
    font-size: 1em;
}




footer a{
    color: rgb(165, 165, 165);
    font-size: 0.75em;
}
footer{
    margin-top: 25px;
    margin-bottom: 15px;
}