body{
    background-image: url('fond_site.jpg'); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#page{
    width: 900px;
    margin: auto;
}
header{
    background-image: url('fond_ban.jpg');
    color: #0077b5;
    position: fixed;
    left: 0px;
    right: 1%;
}
header h1{
    text-transform: capitalize;
    text-align: center;
    top: 0px; 
}
header h2{
    font-size: 1.1em;
    text-align: right;
}
#page{
    display: flex;
}

#coordonnees{
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    color: rgb(44, 43, 43);
}
#name{
    font-size: 1.2em;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 175px;
    height: 30px;
}
#adress{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
}
#coordonnees a{
    color: rgb(44, 43, 43);
}
#tel{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
}
#email{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 200px;
    height: 30;
}
#site{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}
#lkn{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 70px;
    height: 30px;
}
#git{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}





footer{
    color: rgb(165, 165, 165);
    font-size: 0.5em;
}